<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/todo.css" />
    <title>To do</title>
  </head>
  <body>
    <nav>
      
        <li>
            <div class="maindiv">
          <div class="text">TO DO Communnity</div>
          <div">
            <a href="">Home</a>
            <a href="">Services</a>
            <a href="">More Apps</a>
            <a href=""><button type="submit" class="create1">Create task</button></a>
          </div>
        </div>
        </li>
      
    </nav>
    <div class="des">
        <div class="Organize">
            <p class="para1">Organize your work and life,Finally.</p>
            <p class="para2">
                Become focused, organized,and calm with Todolist. The world's #1 task manager and to-do list app
            </p>
            <a href="/tasks" target="_blank"><button type="submit" class="Create">Create task</button></a>
            <a href="/todo/tasks" target="_blank"><button type="submit" class="Create">Show task</button></a>
            <div>
                <img src="img/3961975.jpg" alt="">
            </div>
           
        </div>
        
        
    </div>
    
  </body>
</html>
